.error{
    color: red
}

.form{
    margin-left: 20px;
    margin-right: 20px;
}

.textField{
    width: 50%;
    padding: 2%;
}

.name{
    width: 100%;
    padding: 2%;
}

.Row {
    align-content: center;
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
}
.Column {
    display: table-cell;
    padding-top:0px !important;
}

.add{
    display: block;
    text-align: center;
    margin-left: 60%
}

.container{
    position: relative;
}

.confirm{
  margin: 0;
  position: absolute;
  left: 40%;
}