.error{
    color: red
}

.form{
    margin:5%
}

.textField{
    width: 48%;
    padding: 2%;
    margin: 2% 1% !important
}

.name{
    width: 99%;
    padding: 2%;
}

.add-button-container{
    display: block;
    margin:2% 0
}

.add-check {
    display: inline-block;
    margin-left: 25%
}

.show-add-check {
    margin-top:20px !important;
    margin-left:45% !important;
}

.show-add-button-container {
    display: block;
}

.show-text {
    font-size: 13pt;
}

.add-cancel {
    display: inline-block;
    margin-left: 30%
}