.error{
    color: red
}

.form{
    margin-left: 20px;
    margin-right: 20px;
}

.textField{
    width: 48%;
    padding: 2%;
    margin: auto 1% !important
}

.name{
    width: 99%;
    padding: 2%;
}

.Row {
    align-content: center;
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
}
.Column {
    display: table-cell;
    padding-top:0px !important;
}

.add{
    display: inline-block;
    text-align: center;
    margin-left: 60%;
    position: relative;
    right: 5px
}

.container{
    position: relative;
}

.confirm{
  margin: 0;
  position: absolute;
  left: 40%;
}