.buttonGroup{
    width: 50%;
    box-shadow: none !important;
    padding-top: 5%
}

.add-stock {
    position: relative;
    bottom:7px
}

.stock-button-container{
    display: block;
    margin:2% 0
}

.stock-check {
    display: inline-block;
    margin-left: 25%
}

.stock-cancel {
    display: inline-block;
    margin-left: 30%
}