.buttonGroup{
    width: 50%;
    box-shadow: none !important;
    padding-top: 5%
}

.codeField-AddStock {
    width: 40%;
    padding: 2%;
    margin: 2% 1% !important;
    margin-right:8% !important
}

.form-addStock {
    width:400px;
    margin:0 30px
}

.introIcon-AddStock{
    position: absolute !important;
    top:100px;
    left:43%;
    float: right !important;
}

.add-stock {
    position: relative;
    bottom:7px
}

.stock-button-container{
    display: block;
    margin:2% 0
}

.stock-check {
    display: inline-block;
    margin-left: 25%
}

.stock-cancel {
    display: inline-block;
    margin-left: 30%
}