.add-sale-code-header {
    width:13%;
    text-align: center;
}

.add-sale-description-header {
    width:25%;
    text-align: center;
}

.add-sale-quantity-header {
    width:20%;
    text-align: center;
}

.add-sale-package-discount-header {
    width:10%;
    text-align: center;
}

.add-sale-unit-price-header {
    width:12%;
    text-align: center;
}

.add-sale-total-price-header {
    width:10%;
    text-align: center;
}

.add-sale-code {
    width:13%;
}

.add-sale-description {
    width:25%
}

.add-sale-quantity {
    width:20%
}

.add-sale-package-discount {
    width:10%;
    text-align:center;
    margin-top:25px
}

.add-sale-unit-price {
    width:10%;
    text-align:center;
    margin-top:25px
}

.add-sale-total-price {
    width:12%;
    text-align:center;
    margin-top:25px
}

.clientBox{
    border:1px solid whitesmoke ;
    padding:2%;
    border-radius: 10px;
    display: inline-block;
    width: 60%;
    margin: 0 2.5%;
    position: relative;
    bottom: 60px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);
    background: #FFFDFD

}

.detailsBox{
    box-shadow: 2px 2px 2px lightgray;
    border:1px solid whitesmoke ;
    padding:2%;
    border-radius: 10px;
    display: inline-block;
    width: 33%;
    height: 150px;
    overflow: auto;
    margin: 0;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);
    background: #FFFDFD
}

.header{
    font-size: 15pt;
    height: 70px;
    background-color: #a3aff5
}

.get{
    background-color: #fff3e0
}

.footer{
    background-color: #e8eaf6
}

.field {
    margin: auto;
    position: relative;
    top:8px
}

.vertical-divider{
    display: inline-block;
    width: auto;
    position: relative;
    top: 25px;
    height: 20px !important;
}

.clientInput{
    margin:auto 10px !important;
}

.detailsInput{
    margin:auto 10px !important;
    width: 100%;
}

.totalPrice{
    font-size: 2em;
}

.sendIcon{
    color:green;
    position: absolute;
    right:40px
}

.deleteIcon{
    color:red;
    position: absolute;
    right:30px
}

.editIcon{
    color:rgb(59, 59, 212);
    position: absolute;
    right:70px
}

.list{
    padding: 1% 10%
}

.button-container{
    position: relative;
    width: 150px;
    padding-bottom: 15%;
    margin:auto
}

.sendSaleButton{
    color: whitesmoke !important;
    background-color:teal!important;
}

.searchIcon{
    display: inline;
    width: 30%;
    height: auto;
    margin-top:20px
}

.searchField{
    display:inline;
    position: relative;
    top:4px;
    width:80%
}

.cantField{
    display:inline-block;
    margin:2% !important;
    width:29%
}
