.header-container {
    display: block;
    border-bottom: .5px solid lightgray;
    margin:1% 2%;
    margin-top:80px
}

.category{
    display: inline-block;
    margin: 0;
    margin-left: 5%;
    padding:0;
    width: 70%;
    height: 60px;
    line-height: inherit;
}

.button1 {
    display: inline-block;
    margin:0;
    padding:0;
    width:fit-content;
}

.button2 {
    display: inline-block;
    float:right;
    padding:0;
}

@media (max-width:900px) { 
    .category {
        width :50%;
    }
}

@media (max-width:700px) { 
    .category {
        width :40%;
    }
}