.header-container {
    display: block;
    border-bottom: .5px solid lightgray;
    margin:1% 2%;
}

.category{
    display: inline-block;
    margin: 0;
    margin-left: 5%;
    padding:0;
    width: 70%;
    height: 60px;
    line-height: inherit;
}

.button1 {
    display: inline-block;
    margin:0;
    padding:0;
    width:20%;
}

.button2 {
    display: inline-block;
    float:right;
    padding:0;
}
