.list{
    padding-top:40px ;
    padding-left:15% ;
    padding-right:15% 
}

.buttons{
    float: right;
    padding:0;
    margin: 0;
}

.emptyList {
    margin:auto;
    padding:2% 5%;
    display: block;
    text-align:center;
    color:gray
}

.list-category-icon {
    width: 25px;
    position: absolute;
    left:-20px;
    top: -3px
}

.container {
    height: 200px;
}

.empty-container {
    display: block;
    width: 100%
}

.emptyIcon {
    font-size: 150pt !important;
    margin:auto !important;
    color:gray;
    position: relative;
    left:40%
}

.item-button-delete{
    position: absolute;
    right: 10%;
    top:-7px
}
.item-button-edit{
    position: absolute;
    right: 55%;
    top:-7px
}

.item-button-show{
    position: absolute;
    right:100%;
    top:-7px
}

.buttons-container{
    display: block
}
